#ejemplo h1 {
	background: #AF601A;
	font-size: 50px;
	font-family: "Algerian";
	color: #fff;
}

#ejemplo h2 {
	margin-top: 20px;
	text-align: justify;
	margin-left: 20px;
	margin-right: 20px;
}
